.project-container {
  display: flex;
  justify-content: space-around;
  align-content: flex-start;
  flex-wrap: wrap;
}
.project-card {
  width: 24rem;
  margin-top: 30px;
}
.project-image-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.project-image-item {
  width: 25rem;
  margin-top: 30px;
}
.skill-container {
  display: flex;
  flex-wrap: wrap;
}
.skill-item {
  margin: 5px;
}
.more-project-container {
  display: flex;
  justify-content: space-around;
  align-content: flex-start;
}
.more-project-card {
  width: 16rem;
  text-align: center;
}